version: '3.8'
services:
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: RootPass@123
      MYSQL_DATABASE: employees
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init_db.sql:/docker-entrypoint-initdb.d/init_db.sql

  flaskapp:
    build: .
    restart: always
    ports:
      - "5000:5000"
    environment:
      DBHOST: mysql
      DBPORT: 3306
      DBUSER: root
      DBPWD: RootPass@123
      DATABASE: employees
    depends_on:
      - mysql

volumes:
  mysql_data:
