apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaskapp-deployment
  labels:
    app: flaskapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flaskapp
  template:
    metadata:
      labels:
        app: flaskapp
    spec:
      containers:
      - name: flaskapp
        image: myreg61712.azurecr.io/flaskapp:latest
        ports:
        - containerPort: 5000
        env:
        - name: DBHOST
          value: "mysql"
        - name: DBPORT
          value: "3306"
        - name: DBUSER
          value: "root"
        - name: DBPWD
          value: "RootPass@123"
        - name: DATABASE
          value: "employees"