apiVersion: v1
kind: Service
metadata:
  name: flaskapp-service
spec:
  type: LoadBalancer
  selector:
    app: flaskapp
  ports:
    - port: 80  # External port
      targetPort: 5000  # Flask container port
      protocol: TCP
