name: Capstone Project CI/CD Pipeline
on: [pull_request, push]
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Login to ACR
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.ACR_REPO }}
            username: github-token
            password: ${{ secrets.ACR_PASSWORD }}

        - name: Build and push Docker image
          run: |
            docker build -t ${{ secrets.ACR_REPO }}/flaskapp:${{ github.sha }} .
            docker tag ${{ secrets.ACR_REPO }}/flaskapp:${{ github.sha }} ${{ secrets.ACR_REPO }}/flaskapp:latest
            docker push ${{ secrets.ACR_REPO }}/flaskapp:${{ github.sha }}
            docker push ${{ secrets.ACR_REPO }}/flaskapp:latest

    AKS-deploy:
        needs: build-and-push
        runs-on: ubuntu-latest
        permissions:
          contents: read
          id-token: write

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Login to Azure
          uses: azure/login@v2
          with:
            client-id: ${{ secrets.AZURE_CLIENT_ID }}
            tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
            

        - name: Get AKS credentials
          uses: azure/aks-set-context@v2
          with:
            resource-group: Training-RG
            cluster-name: akscluster

        - name: Deploy to AKS
          run: |
            kubectl apply -f kubernetes/